<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crimson.module.article" >

    <application>

        <activity
            android:name=".view.TabActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity android:name=".view.TestLoginInterceptorActivity" />
    </application>
</manifest>
